KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="<internal-kafka-admin-username>"
    password="<internal-kafka-admin-password>"
    user_admin="<admin-password>"
    user_producer="<producer-password>"
    user_flink="<flink-password>";
};
